* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #e2e2e2 solid 1px;
  top: 0;
  background-color: white;
}

.navbar-first-element button {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.navbar-third-element button {
  border: none;
  background-color: black;
  color: white;
  width: 65px;
  height: 30px;
  border-radius: 3px;
}

.navbar-third-element a,
.navbar-third-element button {
  margin-right:20px;
  font-size:14px;
  font-weight:600;
}

.link-space {
  text-decoration:none;
  color:black;
  font-weight: bold;
  font-size: 14px;
}

.login-b {
  text-decoration: underline;
}

/* BOTTOM-NAVBAR STYLING */
.nav-bottom {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  border-top: 1px solid black;
  background-color: white;
}

.nav-bottom p {
  margin-left: 35%;
  margin-top: 15px;
}

.right-elem {
  margin-top: 15px;
  margin-right: 100px;
  float: right;
}
.right-elem a {
  margin-right:10px;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.icon-arrow i {
  color:black;
}

.clas {
  display: inline-block;
}

/* MAIN SECTION STYLING */
.out-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid green;
}

.container {
  width: 956px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Merriweather', serif;
}

.main-text {
  font-size: 18px;
  margin: 10px 150px;
  line-height: 30px;
}

.container h2 {
  margin: 30px 150px;
  font-family: 'Balsamiq Sans', cursive;
  font-size:35px;
}

.image1 {
  text-align:center;
}

.image1 img {
  width: 956px;
  height: auto;
}
.img1desc {
  font-size:small;
  text-align: left;
  display:block;
}

.imgpar {
  display:block;
  text-align:left;
  font-size: x-small;
  color:grey;
}


/* AUTHOR SOCIAL CONTACT */
.authorName {
  font-size:medium;
  font-weight: bold;
}

.grid {
  display: grid;
}

.date {
  font-size: 12px;
  margin-left: 150px;
  grid-column: 1 / 2;
}

.social {
  grid-column: 4 / 6;
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

.social li {
  display: inline-flex;
}

.social-media {
  border: grey 1px solid;
  height: 40px;
  width: 40px;
  display: flex;
  margin-left: 10px;
  margin-top:-11px;
  border: #eeeeee 1px solid;
  border-radius: 50%;
  background-color: #eeeeee;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}


/* MID TEXT ADVERTISEMENT */
.text-hr {
  color: white;
  width: 50px;
  border-top: 1px solid #cccccc;
  margin-left: 453px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.advertisingConta {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: 10px;
}

.advertiPar {
  margin-bottom: 5px;
}

.adverAnchor,
.textAnchor{
  text-decoration: none;
  color: #326891;
}

/* ASIDE BOX STYLING */
.asideBox {
  margin-top: 1200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 50px;
}

.asideCon {
  margin: 10px 0;
}

.asideCon p{
  width: 140px;
  float: right;
  font-size: small;
  display: flex;
  align-items: center;
  height: 100px;
}

.asideCon img {
  width: 100px;
}

.asideHeader {
  font-size: small;
  font-weight: bold;
  text-align: center;
  display: inline;
}

.aside-hr {
  color: white;
  border-top: 1px solid #cccccc;
  margin-top: 10px;
}

.videoCont {
  text-align: center;
  
}

.videoCont iframe {
  margin-bottom:5px;
}

.image3Cont {
  text-align: center;
  margin-top: 30px;
}

.smallPar {
  font-size: 12px;
  color:grey;
  display: block;
  text-align: left;
  margin-left:145px;
}
 .lastPar {
  margin-left:150px;
  margin-right:150px;
  font-size: 12px;
  color:grey;
  justify-content: center;

 }
.lastparAnchor {
  font-size: 12px;
  color:grey;
  text-decoration: underline;
  margin-right:5px;
  margin-left:5px;
  border-right:1px solid grey;
}
.lastparAnchor:hover{
  text-decoration: none;
}

.commentCon {
  margin:30px 150px 30px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonCommnets {
  padding: 10px 90px;
  
  
}
.zx {
  margin-top: 15px;
}