* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING */
.navbar {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #e2e2e2 solid 1px;
}

.navbar-first-element button {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.navbar-third-element button {
  border: none;
  background-color: black;
  color: white;
  width: 65px;
  height: 30px;
  border-radius: 3px;
}

.navbar-third-element a,.navbar-third-element button {
  margin-right:20px;
  font-size:14px;
  font-weight:600;
}

.link-space {
  text-decoration:none;
  color:black;
  font-weight: bold;
  font-size: 14px;
}

.login-b {
  text-decoration: underline;
}

/* BOTTOM-NAVBAR STYLING */
.nav-bottom {
  position: fixed;
  bottom: 0;
  display: block;
  flex-flow: row wrap;
  width: 100%;
  height: 50px;
  border:1px solid black; 
}

.nav-bottom p { 
  margin-left:35%;
  margin-top:15px;
}

.right-elem {
  margin-top:15px;
  float: right; 
}
.right-elem a {
  margin-right:10px;
}

.icon-arrow i {
  color:black;
}

.clas {
  display: inline-block;
}
